NODE_ENV=development

DATABASE_URL=DB_URL

SMTP_USER=SMTP_USER
EMAIL_SENDER=EMAIL_SENDER
SMTP_PASSWORD=SMTP_PASSWORD

DASHBOARD_URL=ADMIN_DASHBOARD_URL
NEXT_PUBLIC_SITE_URL=PORTFOLIO_URL

NEXT_PUBLIC_USER_NAME=YOUR_NAME
NEXT_PUBLIC_USER_EMAIL=YOUR_EMAIL
NEXT_PUBLIC_GITHUB_LINK=YOUR_GITHUB_LINK
NEXT_PUBLIC_LINKEDIN_LINK=YOUR_LINKEDIN_LINK
NEXT_PUBLIC_FACEBOOK_LINK=YOUR_FACEBOOK_LINK

USER_EDUCATION_INSTITUTION=YOUR_EDUCATION_INSTITUTION
USER_EDUCATION_INSTITUTION_START_DATE=YOUR_EDUCATION_INSTITUTION_START_DATE

USER_PROJECT1_TITLE=YOUR_PROJECT1
USER_PROJECT1_DESCRIPTION=PROJECT1_DESCRIPTION
USER_PROJECT1_GITHUB_URL=YOUR_PROJECT1_GITHUB_URL
USER_PROJECT1_LIVE_URL=YOUR_PROJECT1_LIVE_URL

USER_PROJECT2_TITLE=YOUR_PROJECT2
USER_PROJECT2_DESCRIPTION=PROJECT2_DESCRIPTION
USER_PROJECT2_GITHUB_URL=YOUR_PROJECT2_GITHUB_URL
USER_PROJECT2_LIVE_URL=YOUR_PROJECT2_LIVE_URL

PORTFOLIO_GITHUB_LINK=YOUR_PORTFOLIO_GITHUB_LINK

REVALIDATE_SECRET=REVALIDATE_SECRET_TO_SYNC_WITH_DASHBOARD